/assets/cache/
/__pycache__/
ui/__pycache__/
utils/__pycache__/
/.vs/
/emoji_png/
/assets/emoji
/config/keymap.yml
/config/process_whitelist.yml
/config/textual.tcss
.DS_Store
*.py
requirements*.txt
build*.spec
/.vscode/
/build/
/dll/
/UpdateHistory.md
/utils/
/ui/
/licenses/